.newslatter-section {
    background-color: #f6ebe6;
    padding: 65px 0px 80px;
    position: relative;
    overflow: hidden;
    .newslatter-bg1 {
        position: absolute;
        top: 0;
        left: 40px;
    }
    .newslatter-bg2 {
        position: absolute;
        top: 10px;
        left: 190px;
    }
    .newslatter-bg3 {
        position: absolute;
        top: 45px;
        right: 180px;
    }
    .newslatter-bg4 {
        position: absolute;
        bottom: 0px;
        left: 45px;
    }
    .newslatter-bg5 {
        position: absolute;
        bottom: -80px;
        right: 80px;
    }

    .newslatter-content {
        background-color: #fff;
        border-radius: 30px;
        padding: 55px 55px 65px 75px;
        overflow: hidden;
        position: relative;
    }
    .newslatter-text {
        h3 {
            font-size: 30px;
            padding-bottom: 12px;
        }
        p {
            font-size: 17px;
        }
    }
    .newslatter-form {
        .form-row {
            .form-control {
                padding: 25px 20px;
                background-color: #ebeff3;
                border: none;
                &:focus {
                    border: none;
                    box-shadow: none;
                    background-color: #ebeff3;
                }
            }
            .checkbox {
                font-size: 14px;
                margin-top: 15px;
            }
        }
    }
}

@media (max-width: 768px) {
    .newslatter-section {
        .newslatter-content {
            padding: 40px 30px;
            .newslatter-text {
                h3 {
                    font-size: 28px;
                }
            }
            .newslatter-form {
                .form-row {
                    .form-control {

                    }
                    .checkbox {

                    }
                }
            }
        }
    }
}