.about-section {
    padding-top: 60px;

    .about-title {
        margin-top: 25px;
        h2 {
            padding-top: 5px;
        }
        p {
            font-size: 18px;
            padding: 25px 0px 75px;
        }
    }
    .about-list {
        ul {
            li{
                width: 50%;
                float: left;
                color: #282350;
                font-weight: 700;
                margin-bottom: 18px;
                i.fas.fa-check-circle {
                    color: #25d98f;
                    font-size: 20px;
                    margin-right: 10px;
                }
            }
        }
    }
    .about-img {
        position: relative;
        z-index: 1;
        .about-shape1 {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
        .about-shape2 {
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: -1;

        }
    }
}

@media (max-width: 991px) {
    .about-section {
        .about-title {
            h2 {
                font-size: 36px;
            }
            p {
                padding: 10px 0px 20px;
            }
        }

        .about-img {
            margin-top: 30px;
            text-align: center;
        }

    }
}

@media (max-width: 768px) {
    .about-section {
        padding-top: 0px;
        .about-title {
            h2 {
                font-size: 28px;
            }
            p {
               padding: 10px 0px 20px;
            }
        }
        .about-list {
            ul {
                li {
                    width: 100%;
                    float: none;
                }
            }
        }
        .about-img {
            margin-top: 20px;
            text-align: center;
        }

    }
}