.experience-section {
    padding-top: 115px;
    padding-bottom: 75px;

    .experience-img {
        position: relative;
        z-index: 1;
        .experience-shape1 {
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
        }
        .experience-shape2 {
            position:absolute;
            z-index: -1;
            bottom: 0;
            right: 0;
        }
    }
    .experience-title {
        h2 {
            margin-top: 5px;
        }
        p {
            margin-top: 30px;
        }
    }
    .skill-section {
        padding: 10px 0 10px;
        .skill-item {
            .progress-item {
                margin-bottom: 30px;
                .skill-title {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    h4 {
                        font-size: 16px;
                        font-family: "roboto";
                        color: #585476;
    
                    }
                    span {
                        font-size: 16px;
                        font-weight: 700;
                        font-family: "roboto";
                        color: #282350;
                    }
                }
                .progress {
                    height: 6px;
                    background-color: #dededf;
                    border-radius: 4px;
                    .progress-bar {
                        background-color: #ff6700;
                        transition: all 1s ease-in-out;
                    }
                }
            }
            .experence-btn {
                margin-top: 50px;
                .btn {
                    width: 155px;
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .experience-section {
        padding-top: 80px;
        padding-bottom: 65px;
        .experience-img {
            text-align: center;
        }
        .experience-title {
            h2 {
                font-size: 36px;
            }
        }
    }
}



@media (max-width: 768px) {
    .experience-section {
        padding-top: 70px;
        padding-bottom: 50px;
        .experience-img {
            text-align: center;
            margin-bottom: 20px;
        }
        .experience-title {
            h2 {
                font-size: 28px;
            }
            p {
                margin-top: 10px;
            }
        }
        .experence-btn {
            margin-top: 40px !important;
        }
    }
}
