/*Header Section*/
#navbarSupportedContent {
    padding-top: 7px;
}
.navbar-brand {
    margin-left: 80px;
}
ul.navbar-nav {
    margin-left: auto;
    background-color:rgba(255,255,255,.8);
    padding: 15px 40px;

    li.nav-item {
        margin: 0px 30px;
    }
    a.nav-link {
        color: #282350;
        font-weight: 700;
        padding: 7px 0px;
        font-family: 'Poppins';
    }
}

.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
    #navbarSupportedContent {
        padding-top: 0px;
    }
    &{
        padding: 0px 16px;
    }
}
