.count-section {
    padding-bottom: 70px;
    h2 {
        font-size: 35px;
        line-height: 1.525;
    }
    .counter-item {
        margin-top: 68px;
    }
}
.portfolio-section {
    .portfolio-title {
        text-align: center;
    }
}
.team-section {
    padding-top: 110px;
    .team-slider {
        padding-top: 55px;
    }
}
